<h1>Post Questions</h1>

<%= form_for @question do |f| %>
<div>
<%= f.text_field :email, :type => 'hidden', :value => current_user.email %>
<%=f.text_field :ques %>
<%= f.text_field :user_id, :type => 'hidden', :value => current_user.id%>
<%= f.submit%>
</div>
<% end %>
