<div class="signin_up-container">
<div class="main-container-signup" >
  <div class="title">
    <div class="quora-logo"></div>
    <p>A place to share knowledge and better understand the world</p>
  </div>
  <div class="login-container">
    <div class="sign-up">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.label :'Sign Up', :class => "signup-label" %><br />
        <div class="signup-name">
          <div class="field signup-first-name">
            <%= f.label :'First Name', :class => "label-name"%><br />
            <%= f.text_field :firstname, autofocus: true, :class => "input-name" %>
          </div>
          <div class="field signup-last-name">
            <%= f.label :'Last Name', :class => "label-name" %><br />
            <%= f.text_field :lastname, :class => "input-name" %>
          </div>
        </div>
        <div class="field signup-email">
          <%= f.label :email, :class => "label-email" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "input-email" %>
        </div>

        <div class="field signup-password">
          <%= f.label :password, :class => "label-password"  %><br />
          <%= f.password_field :password, autocomplete: "new-password", :class => "input-password"  %>
        </div>
      <p>By continuing you indicate that you have read and agree to Quora's <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.</p>
      <div class="actions">
        <%= link_to "Cancel", new_user_session_path %>
        <%= f.submit "Sign up", :class => "signup-btn", :id => "signup-btn"%>
      </div>
    <% end %>
    </div>
    <div class="email-login">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.label :Login, :class => "login-label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "login-input" %><br>
        <%= f.password_field :password, autocomplete: "current-password", :class => "login-input", :id => "login_user_password" %><br><br>
        <div class="email-login-option">

          <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
            <%= link_to "Forgot your password?", new_password_path(resource_name), :class => "forgot-password"%><br />
          <% end %>
          <%= f.submit "Log in", :class => "login-btn", :id => "login-btn" %>
        <% end %>
        </div>
    </div>
  </div>
</div>
</div>
<%= javascript_pack_tag 'signup_password' %>
<%= render "devise/shared/links" %>
