<h1>Qoura</h1>
<% @question.each do |que| %>
<%= que.email %><br />
<%= que.ques %><br /><br />
<% end %>
<%= link_to 'Edit', edit_user_registration_path(current_user) %>
<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
<%= link_to 'Post Question', new_question_path %>
