<%= render :partial => 'layouts/header' %>
<div class="question-answer-main-container">
  <h1> <%= @question.ques %>
      <% if @question.user_id == current_user.id %>
      <%= link_to image_tag("header/delete.png"), del_que_url(:ques_id => params[:ques_id]) %>
      <% end %>
  </h1>
  <button id="answer-btn"><div class="question-answer-logo"><%= image_tag("header/answer.png")%></div>Answer</button>
  <%= render :partial => 'form' %>
  <hr>
  <div class="answer-box">
    <% @answers.each do |a| %>
        <div class="answer-display">
          <p><%= a.ans %></p>
        </div>
        <div class="answer-buttons">
          <button class="comment-btn", id=<%='comment-btn-'+a.id.to_s%> > <%= image_tag("header/comment.png")%></button>

          <% if @vote_hash["#{a.id}"] != 0 && @votes.where(answer_id: a.id, user_id: current_user.id, upvote: 1).count == 1 %>
            <%= link_to image_tag("header/upvoted.png"), upvote_ans_url(:ques_id => params[:ques_id], :ans_id => a.id), method: :get %>
            <p class="upvote_count"><%= @vote_hash["#{a.id}"]%></p>
          <% else %>
            <%= link_to image_tag("header/upvote.png"), upvote_ans_url(:ques_id => params[:ques_id], :ans_id => a.id), method: :get %>
            <% if @vote_hash["#{a.id}"] != 0 %>
            <p class="upvote_count"><%= @vote_hash["#{a.id}"]%></p>
            <% end %>
          <% end %>

          <% if @vote_hash["#{a.id}"] != 0 && @votes.where(answer_id: a.id, user_id: current_user.id, downvote: 1).count == 1%>
            <%= link_to image_tag("header/downvoted.png"), downvote_ans_url(:ques_id => params[:ques_id], :ans_id => a.id), method: :get %>
          <% else %>
            <%= link_to image_tag("header/downvote.png"), downvote_ans_url(:ques_id => params[:ques_id], :ans_id => a.id), method: :get %>
          <% end %>

          <% if a.user_id == current_user.id %>
            <%= link_to image_tag("header/delete.png"), del_ans_path(:ans_id => a.id, :ques_id => params[:ques_id]) %>
          <% end %>
          </div>
          <div class="comment-box" id=<%= 'comment-box-'+a.id.to_s%>>
              <div class="post-comment-form" id=<%='post-comment-form-'+a.id.to_s%>>
                <%= form_for :comment, :url => { :action => "insertComment", :controller => 'comments' }  do |f| %>
                  <div class="post-comment-form-input">
                    <%=f.text_area :com, :class => "comment-form-field" %>
                    <%= f.text_field :answer_id, :type => 'hidden', :value => a.id %>
                    <%= f.text_field :user_id, :type => 'hidden', :value => current_user.id %>
                    <%= f.text_field :ques_id, :type => 'hidden', :value => params[:ques_id] %>
                    <div class="comment-submit" id=<%= 'comment-submit-'+a.id.to_s%>>
                      <%= f.submit "Submit" %>
                    </div>
                  </div>
                <% end %>
              </div>

                <% @comments.each do |cmt| %>
                    <% if cmt.answer_id == a.id%>
                      <div class="comment-display">
                      <p><%= cmt.com %></p>
                      <% if cmt.user_id == current_user.id %>
                        <%= link_to image_tag("header/delete.png"), del_cmt_url(:cmt_id => cmt.id, :ques_id => params[:ques_id]) %>
                      <% end %>
                      </div>
                    <% end %>
                <% end %>

        </div>
        <script>
          var cmt_id = <%= a.id %>
        </script>
          <%= javascript_pack_tag 'post_comment' %>
    <% end %>
  </div>
</div>


<%= javascript_pack_tag 'post_answer' %>
