<header>
  <div class="header-quora-logo"></div>
  <div class="header-home"><div class="header-home-logo"><%= image_tag("header/home.png")%></div><%= link_to 'Home', root_path %></div>
  <div class="header-following"><div class='header-following-logo'><%= image_tag("header/to-do-list.png")%></div><a href="#">Following</a></div>
  <div class="header-answer"><div class='header-answer-logo'><%= image_tag("header/answer.png")%></div><%= link_to 'Answers', root_path %></div>
  <div class="header-spaces"><div class='header-spaces-logo'><%= image_tag("header/spaces.png")%></div><a href="#">Spaces</a></div>
  <div class="header-notifications"><div class='header-notifications-logo'><%= image_tag("header/notifications.png")%></div><a href="#">Notifications</a></div>
  <div class="header-search-container">
    <form action="#">
      <input type="text" placeholder="  Search Quora" name="search">
    </form>
  </div>
  <div class="header-profile"><%= link_to '<button type="button" class="header-profile-logo"></button>'.html_safe, edit_user_registration_path(current_user) %></div>
  <div class="header-post-question"><button class="header-post-question-btn", id="post-question-btn">Add Question</button></div>
  <div class="header-log-out"><%= link_to image_tag("header/logout.png"), destroy_user_session_path, method: :delete %></div>
  <div id="modal-post-question" class="modal">
    <div class="modal-content">
      <div class="modal-close-btn"><span class="question-form-heading">Add Question</span><span class="close">&times;</span></div>
      <hr>
      <div class="modal-iframe">
        <%= form_for :post_question, :url => { :action => "create", :controller => 'questions' }  do |f| %>
        <div class="post-question-form" >
          <%= f.text_field :email, :type => 'hidden', :value => current_user.email %>
          <%=f.text_field :ques, :class => 'question-input-field', :placeholder => ' Start your question with "What", "How", "Why", etc.' %>
          <%= f.text_field :user_id, :type => 'hidden', :value => current_user.id%>
          <div class="question-submit"><%= f.submit "Add Question"%></div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

<script>
var modal = document.getElementById("modal-post-question");
var btn = document.getElementById("post-question-btn");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
  modal.style.display = "block";
}
span.onclick = function() {
  modal.style.display = "none";
}
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
</header>
